<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Trang chủ PVT</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row text-center header">
        <h2 style="color: white" class="mb-0">PHÒNG VẬT TƯ ỐNG THÉP HÒA PHÁT ĐÀ NẴNG</h2>
    </div>
    <div class="row" style="height: 95%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 8%">
            <div class="container-fluid">
                <a class="navbar-brand col-12 col-md-3 col-lg-4 align-items-center" th:href="@{/home}">
                    <img src="https://www.hoaphat.com.vn/assets/images/logo.png" class="img-fluid">
                </a>
                <div class="collapse navbar-collapse col-12 col-md-9 col-lg-8 align-items-center"
                     id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link font-style" aria-current="page" th:href="@{/home/employee/private}">Nhắc nhở lịch cần làm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-style" th:href="@{/home/employee/video}">Lưu giữ video</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link font-style" th:href="@{/home/employee/image}">Lưu giữ hình ảnh</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle font-style" th:href="@{/home/manager/task}" id="navbarDropdownMenuLink"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Giao việc (chỉ quản lý)
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item font-style" th:href="@{/home/manager/task}">Giao việc cá nhân</a></li>
                                <li><a class="dropdown-item font-style" th:href="@{/home/manager/weeklyTask}">Giao việc cá nhân lặp lại định kỳ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="height: 92%">
            <div th:each="mess: ${message}" class="mb-2" th:if="${message!=null}">
                <h3 style="color: red" th:text="${mess.getMessage()}"></h3>
            </div>
            <div style="height: 89%; overflow: hidden;">
                <img src="https://sudospaces.com/hoaphat-com-vn/2020/05/kv-tap-doan-trang-chu.jpg" style="width: 100%; height: 100%; object-fit: contain; object-position: top;">
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>