<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Danh sách việc PVT</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            var mess = /*[[${mess}]]*/ 'default';
            if (mess != null && mess != 'default') {
                swal({
                    title: 'Thông báo',
                    text: mess,
                    icon: 'success',
                    timer: 1500,
                    buttons: false
                });
            }
        });
        /*]]>*/
    </script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments :: header}"></div> <!-- Dùng header của fragments -->
    <div>
        <nav th:replace="~{fragments :: nav}"></nav> <!-- Dùng nav của fragments -->
        <div>
            <div class="mb-1">
                <h3 class="text-primary mb-2">Lịch công việc cá nhân</h3>
                <a href="" id="addPrivateEvent" style="text-decoration: none">
                    <button type="button" class="btn btn-primary" onclick="showPrivateDialog()">Thêm mới công việc cá
                        nhân
                    </button>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered" id="new-material" th:if="${monthEventList != null}">
                    <thead id="navbar-sticky">
                    <tr>
                        <th class="col-1 col-md-1 col-lg-1">STT</th>
                        <th class="col-7 col-md-7 col-lg-7">Nội dung giao việc</th>
                        <th class="col-1 col-md-1 col-lg-1">Deadline</th>
                        <th class="col-3 col-md-3 col-lg-3">Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="list,iter: ${monthEventList}">
                        <td class="center" th:text="${iter.count}"></td>
                        <td class="justify" th:text="${list.getMonthEventDescription()}"></td>
                        <td class="center" th:text="${list.getFormattedDeadlineByFormat()}"></td>
                        <td class="center">

                            <!-- Sửa -->
                            <a th:href="@{/home/manager/task/showEditMonthEventForm/{id} (id=${list.getMonthEventId()})}">
                                <button type="button" class="btn btn-outline-secondary">
                                    Chỉnh sửa
                                </button>
                            </a>
                            <!-- Xóa -->
                            <a th:href="@{/home/manager/weeklyTask/delete/{id} (id=${list.getMonthEventId()})}">
                                <button type="button" class="btn btn-outline-danger">Xóa</button>
                            </a>
                            <!-- ⭐ NÚT HIDE / SHOW -->
                            <form th:action="@{/home/manager/task/toggleHidden/{id}(id=${list.monthEventId})}"
                                  method="post"
                                  style="display:inline">
                                <button type="submit"
                                        class="btn"
                                        th:classappend="${list.hidden} ? 'btn-success' : 'btn-warning'"
                                        th:text="${list.hidden} ? 'Ẩn việc' : 'Hiện lịch cần làm'">
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row smaller-font">
                    <div class="col-5">
                    </div>
                    <div class="col-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" th:if="${monthEventList.totalPages > 0}"
                                th:each="pageNumber : ${pageNumbers}" style="float: left; width: 30px">
                                <li th:if="${currentPage==pageNumber}" class="page-item active">
                                    <a class="page-link"
                                       th:href="@{/home/manager/task(page=${pageNumber},size=${monthEventList.size})}"
                                       th:text="${pageNumber}"></a>
                                </li>
                                <li th:unless="${currentPage==pageNumber}" class="page-item">
                                    <a class="page-link"
                                       th:href="@{/home/manager/task(page=${pageNumber},size=${monthEventList.size})}"
                                       th:text="${pageNumber}"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <a th:href="@{/home}" style="text-decoration: none">
                        <button class="btn btn-outline-primary" style="float: right">
                            Trở về trang chủ
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showMonthDialog() {
        var numberOfRows = prompt("Hãy nhập số dòng giao việc tháng bạn muốn giao việc:");
        if (numberOfRows != null) {
            var url = "/home/manager/task/showAddMonthEventForm?rows=" + numberOfRows;
            document.getElementById("addMonthEvent").setAttribute("href", url);
        }
    }
    function showPrivateDialog() {
        var numberOfRows = prompt("Hãy nhập số dòng giao việc cá nhân bạn muốn giao việc:");
        if (numberOfRows != null) {
            var url = "/home/manager/task/showAddPrivateEventForm?rows=" + numberOfRows;
            document.getElementById("addPrivateEvent").setAttribute("href", url);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>