<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Thêm mới việc PVT</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var flatpickrInputs = document.querySelectorAll('.flatpickr-input');
            var fpInstances = Array.from(flatpickrInputs).map(input => flatpickr(input, {
                enableTime: true,
                dateFormat: "Y-m-d\\TH:i",
                altInput: true,
                altFormat: "d-m-Y H:i",
                time_24hr: true,
                // Add any other options you need
            }));

            document.querySelector('#form').addEventListener('submit', function(e) {
                var allDatesSelected = fpInstances.every(fp => fp.selectedDates.length > 0);
                if (!allDatesSelected) {
                    e.preventDefault();
                    alert('Phải chọn deadline cho công việc được giao');
                }
            });
        });
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row text-center header">
        <h2 style="color: white" class="col-9.5">PHÒNG VẬT TƯ ỐNG THÉP HÒA PHÁT ĐÀ NẴNG</h2>
        <div class="col-2.5 text-end" style="float: right">
            <div class="dropdown mt-2" style="display: flex; align-items: center; justify-content: center;">
                <p class="greeting-text" th:text="'Xin chào: ' +${username}"></p>
            </div>
        </div>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand col-12 col-md-3 col-lg-4 align-items-center" th:href="@{/home}">
                    <img src="https://www.hoaphat.com.vn/assets/images/logo.png" class="img-fluid">
                </a>
                <div class="collapse navbar-collapse col-12 col-md-9 col-lg-8 align-items-center"
                     id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link font-style" aria-current="page" th:href="@{/home/employee/private}">Lịch cần làm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-style" th:href="@{/home/employee/video}">Lưu giữ video</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link font-style" th:href="@{/home/employee/image}">Lưu giữ hình ảnh</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle font-style" th:href="@{/home/manager/task}"
                               id="navbarDropdownMenuLink"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Giao việc (chỉ quản lý)
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item font-style" th:href="@{/home/manager/task}">Giao việc cá
                                    nhân</a></li>
                                <li><a class="dropdown-item font-style" th:href="@{/home/manager/weeklyTask}">Giao việc
                                    cá nhân lặp lại định kỳ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <div class="mb-1">
                </h10>
                <h3 class="text-primary mb-2">Lịch công việc cá nhân có lặp lại</h3>
                <a href="" id="addWeekEvent" style="text-decoration: none">
                    <button type="button" class="btn btn-primary" onclick="showDialog()">Thêm mới việc cá nhân có lặp
                        lại
                    </button>
                </a>
            </div>
            <div>
                <form class="row" method="post" th:action="@{/home/manager/weeklyTask/addWeekEvent}"
                      th:object="${monthEventManager}" id="form">
                    <table>
                        <thead id="navbar-sticky">
                        <tr>
                            <td class="col-9 col-md-9 col-lg-9" style="font-weight: bolder; font-size: larger">
                                Nội dung
                            </td>
                            <td class="col-2 col-md-2 col-lg-2" style="font-weight: bolder; font-size: larger">
                                Gia hạn deadline tự động theo ? ngày
                            </td>
                            <td class="col-1 col-md-1 col-lg-1" style="font-weight: bolder; font-size: larger">
                                Deadline
                            </td>
                            <td hidden="hidden" class="col-0 col-md-0 col-lg-0">
                                Trạng thái (mặc định 2)
                            </td>
                        </tr>
                        </thead>
                        <tr th:each="weekEvent, stat : ${weekEvents}">
                            <td>
                                <textarea type="text" th:field="*{monthEvents[__${stat.index}__].monthEventDescription}"
                                          th:name="|monthEvents[${stat.index}]|"
                                          style="width:100%" rows="2" required></textarea>
                            </td>
                            <td>
                                <input type="number"
                                       th:field="*{monthEvents[__${stat.index}__].extendDay}"
                                       th:name="|monthEvents[${stat.index}]|" style="width: 100%" required>
                            </td>
                            <td>
                                <input type="text"
                                       class="flatpickr-input" placeholder="Bấm chọn thời gian"
                                       th:field="*{monthEvents[__${stat.index}__].monthEventDeadline}"
                                       th:name="|monthEvents[${stat.index}]|" required>
                            </td>
                            <td hidden="hidden">
                                <input th:value="2"
                                       th:name="|monthEvents[${stat.index}].monthEventStatus|"
                                       th:id="|monthEvents[${stat.index}].monthEventStatus|">
                            </td>
                        </tr>
                    </table>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <a th:href="@{/home/manager/weeklyTask}" style="text-decoration: none">
                    <button class="btn btn-outline-primary" style="float: right">
                        Trở về trang giao việc cá nhân lặp lại định kỳ
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    function showDialog() {
        var numberOfRows = prompt("Hãy nhập số dòng giao việc lặp lại bạn muốn giao việc:");
        if (numberOfRows != null) {
            var url = "/home/manager/weeklyTask/showAddWeekEventForm?rows=" + numberOfRows;
            document.getElementById("addWeekEvent").setAttribute("href", url);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>