<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Danh sách việc PVT</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            var mess = /*[[${mess}]]*/ 'default';
            if (mess != null && mess != 'default') {
                swal({
                    title: 'Thông báo',
                    text: mess,
                    icon: 'success',
                    timer: 1500,
                    buttons: false
                });
            }
        });
        /*]]>*/
    </script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments :: header}"></div> <!-- Dùng header của fragments -->
    <div>
        <nav th:replace="~{fragments :: nav}"></nav> <!-- Dùng nav của fragments -->
        <div>
            <div class="mb-1">
                <h3 class="text-primary mb-2">Lịch công việc cá nhân có lặp lại</h3>
                <a href="" id="addWeekEvent" style="text-decoration: none">
                    <button type="button" class="btn btn-primary" onclick="showDialog()">Thêm mới việc cá nhân có lặp
                        lại
                    </button>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered" id="new-material" th:if="${weekEventList != null}">
                    <thead id="navbar-sticky">
                    <tr>
                        <th class="col-1 col-md-1 col-lg-1">STT</th>
                        <th class="col-6 col-md-6 col-lg-6">Nội dung giao việc tuần</th>
                        <th class="col-2 col-md-2 col-lg-2">Deadline</th>
                        <th class="col-2 col-md-2 col-lg-2">Deadline tự động gia hạn (ngày)</th>
                        <th class="col-1 col-md-1 col-lg-1">Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="list,iter: ${weekEventList}">
                        <td class="center" th:text="${iter.count}"></td>
                        <td class="justify" th:text="${list.getMonthEventDescription()}"></td>
                        <td class="center" th:text="${list.getFormattedDeadlineByFormat()}"></td>
                        <td class="center" th:text="${list.getExtendDay()}"></td>
                        <td class="center">
                            <a th:href="@{/home/manager/weeklyTask/delete/{id} (id=${list.getMonthEventId()})}">
                                <button type="button" class="btn btn-outline-danger">Xóa</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-12">
                    <a th:href="@{/home}" style="text-decoration: none">
                        <button class="btn btn-outline-primary" style="float: right">
                            Trở về trang chủ
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận: </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    <a th:href="@{/home}" style="text-decoration: none">Xóa</a>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function showDialog() {
        var numberOfRows = prompt("Hãy nhập số dòng giao việc tuần bạn muốn giao việc:");
        if (numberOfRows != null) {
            var url = "/home/manager/weeklyTask/showAddWeekEventForm?rows=" + numberOfRows;
            document.getElementById("addWeekEvent").setAttribute("href", url);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>