.header {
    background-color: #05428c;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 60px;
}

h3 {
    text-align: center;
    height: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

body {
    height: 100vh;
    margin: 0;
}

.container-fluid {
    height: 100%;
}

.font-style {
    font-family: 'Open Sans', 'sans-serif';
    color: #05428c;
    font-weight: bold;
    font-size: 20px;
}

thead, th, td {
    text-align: center;
    vertical-align: middle;
}

div.paging-bar button {
    width: 100px;
    margin: 0 5px;
}

button.search-icon:hover svg {
    height: 35px;
    width: 35px;
}

.search-icon {
    border: none;
    background: white;
    width: 30px;
    height: 30px;
}

button.responsive-icon,
button.responsive-icon-add,
button.responsive-button-search {
    display: none;
}

.responsive-button-add,
.responsive-button-search {
    width: 140px;
}

button.responsive-icon-search {
    display: inline-block;
    border: none;
    background-color: white;
    width: 10px;
    height: 10px;
}

button.responsive-icon-search:hover svg {
    height: 35px;
    width: 35px;
}

strong {
    color: red;
}