.header {
    background-color: #05428c;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 60px;
}

h3 {
    text-align: center;
    height: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

body {
    height: 100vh;
    margin: 0;
}

.container-fluid {
    height: 100%;
}

.font-style {
    font-family: 'Open Sans', 'sans-serif';
    color: #05428c;
    font-weight: bold;
    font-size: 20px;
}

.col-0\.3 {
    flex: 0 0 auto;
    width: 2.5%;
}

.col-1\.5 {
    flex: 0 0 auto;
    width: 12.5%;
}

.col-2\.5 {
    flex: 0 0 auto;
    width: 20.833333%;
}

.col-9\.5 {
    flex: 0 0 auto;
    width: 79.166667%;
}

.col-4\.5 {
    flex: 0 0 auto;
    width: 45.833333%;
}

.col-0\.7 {
    flex: 0 0 auto;
    width: 5.833333%;
}


thead, th, td {
    text-align: center;
    vertical-align: middle;
}

.warning {
    background-color: #ff973e; /* This is a yellow color, you can change it to your preference */
}

.remind {
    color: red; /* This is a yellow color, you can change it to your preference */
}

.greeting-text {
    font-size: 17px;
    color: #ff56c3;
    font-family: 'Open Sans', 'sans-serif';
}

/* Add some basic styling to improve the appearance of the input field */
.flatpickr-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the alternative input field (altInput) */
.flatpickr-alt-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}

/* Style the calendar dropdown */
.flatpickr-calendar {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.paging-bar button {
    width: 100px;
    margin: 0 5px;
}

button.search-icon:hover svg {
    height: 35px;
    width: 35px;
}

.search-icon {
    border: none;
    background: white;
    width: 30px;
    height: 30px;
}

button.responsive-icon,
button.responsive-icon-add,
button.responsive-button-search {
    display: none;
}

.responsive-button-add,
.responsive-button-search {
    width: 140px;
}

button.responsive-icon-search {
    display: inline-block;
    border: none;
    background-color: white;
    width: 10px;
    height: 10px;
}

button.responsive-icon-search:hover svg {
    height: 35px;
    width: 35px;
}

strong {
    color: red;
}